/* Центральний стовпчик - основний контент */
.content {
  width: var(--content-width);
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  background-color: var(--color-main-section-background);
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}


.content-section {
  width: var(--content-section-width);
  padding-left: var(--section-side-padding);
  padding-right: var(--section-side-padding);
}

/* Фотоальбом */
.photo-album {
  height: var(--photo-album-height);
  background-color: var(--color-photo-album-section);
}

.slider-container{
  position: relative;
  display: flex;
  /* align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto; */

  width: 100%; /* Загальна ширина контейнера */
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden; /* Ховаємо частини, що виходять за межі */
}

/* .photo-album h2 {
  margin-bottom: 10px;
} */

.gallery {
  display: flex;
  transition: transform 0.3s ease;
  width: 300%;
}

.gallery img {
  width: 100%;
  max-width: 400px;
  margin: 0 10px;
  flex-shrink: 0
}


.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}

/* Опис */

/* .description {
  height: var(--description-height);
  background-color: var(--color-description-section);
} */

.description {
  height: var(--description-height);
  background-color: var(--color-description-section);
  display: flex;
  flex-direction: column; /* Вирівнювання елементів по вертикалі */
  align-items: center; /* Центрування елементів по горизонталі */
}

.title-description {
  text-align: left;
}

.content-description {
  padding-left: 18px;
  padding-left: 16px;
  padding-bottom: 30px;
}

 /* top, right, bottom, left*/
 /* margin: 25px 6px 30px 18px; */


.image-description{ 
  /* top, right, bottom, left */
  /* padding: 0px 24px 0px 24px; */
  text-align: center;
  width: 808px;
  height: 300px;
}




/* Соціальні програми*/

.social-programs {
  height: var(--social-programs-height);
  background-color: var(--color-social-programs-section);
}

.social-programs h2 {
  margin-bottom: 16px;
}

.main-social-programs{
  height: 604px;
  width: 808px;
  background-image: url("../images/Social_programs.jpg");
  background-size: cover;       /* Займає всю ширину блоку, зберігаючи пропорції */
  background-repeat: no-repeat; /* Запобігає дублюванню зображення */
  background-position: center;  /* Центрує зображення в межах секції */
}

/* Блоки програм*/

.programs-container {
  position: relative;
  text-align: center;
}

.program-box {
  display: inline-block; /* Відображення блоків в одному рядку */
  width: 325px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Прозорий білий фон */
  border-radius: 20px;
  padding: 20px;
  margin: 15px; /* Відступ між блоками */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}

/* Заголовок кожної програми */
.program-box h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

/* Опис програми */
.program-box p {
  font-size: 14px;
  color: #555;
  text-align: justify;
}

.last-p {
  margin-bottom: 0px;
}