@import url(base.css);
@import url(header.css);
@import url(navigation.css);
@import url(reset.css);
@import url(additional-section.css);
@import url(footer.css);
@import url(main-section.css);


body {
    /* Встановлюємо основний шрифт для всього тексту */
    font-family: 'Inter';
    font-weight: 400; /* Regular */
    font-size: 16px; /* Розмір тексту */
    padding: 0;
    width: var(--page-width);
    height: var(--page-height);
    background-color: var(--color-body-background);
    margin: 0px 20px 0px;
}

/* Загальний контейнер для трьох колонок */
.container {
    display: flex;
    width: var(--page-width);
    margin: 0 auto;
}

/* Шрифти для заголовків */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter';
    font-weight: 700; /* Bold */
    font-size: 48px; /* Розмір заголовка */
    text-align: center;
}

/* Шрифти для тексту */
p, span, li, a {
    font-family: 'Inter';
    font-weight: 400; /* Regular */
    font-size: 16px; /* Розмір тексту */
}
