.news {
    height: 1666px; /* Висота секції додаткової інформації */
    background-color: #d3d3ff;
  }
  
.contact-info {
    height: 435px; /* Висота колонтитула правого стовпчика */
    background-color: #b3b3ff;
  }