@import url(base.css);
/* @import url(header.css);
@import url(navigation.css); */
@import url(main-section.css);
/* @import url(additional-section.css);
@import url(footer.css); */


body {
    /* Встановлюємо основний шрифт для всього тексту */
    font-family: 'Inter';
    font-weight: 400; /* Regular */
    font-size: 16px; /* Розмір тексту */
    padding: 0;
    width: var(--page-width);
    height: var(--page-height);
    background-color: var(--color-body-background);
    margin: 0px 20px 0px;
}

/* Загальний контейнер для трьох колонок */
.container {
    display: flex;
    width: var(--page-width);
    margin: 0 auto;
}

header {
    width: var(--page-width);
    height: var(--header-height);
    background-image: url('../images/header_image.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-header-background);
}

/* Лівий стовпчик - навігаційне меню */
.menu {
    width: var(--menu-width);
    height: var(--menu-height);
    background-color: var(--color-navigation-background);
}



/* Правий стовпчик - додаткова інформація та контакти */
.additional-section {
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
}

.news {
    height: var(--news-height);
    background-color: var(--color-news-section);
}

.contact-info {
    height: var(--contact-info-height);
    background-color: var(--color-contact-info);
}

/* Основний footer сторінки */
.footer {
    width: var(--page-width);
    height: var(--footer-height);
    background-color: var(--color-footer-background);
    color: var(--color-text-white);
    text-align: center;
    padding: var(--footer-padding);
}

/* Шрифти для заголовків */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter';
    font-weight: 700; /* Bold */
    font-size: 36px; /* Розмір заголовка */
    text-align: center;
}

/* Шрифти для тексту */
p, span, li, a {
    font-family: 'Inter';
    font-weight: 400; /* Regular */
    font-size: 16px; /* Розмір тексту */
}
